:host {
  display: inline-flex;
  flex-direction: row;
  font-size:$--app-checkbox-size;
  color: $--app-checkbox-color;
  align-items:center;
  margin-right:$--app-checkbox-size * 0.5;
  position: relative;
  .frame{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: $--app-checkbox-size * 1.4;
    height: $--app-checkbox-size * 1.4;
    color:$--app-checkbox-background;
    background: $--app-checkbox-background;
    margin-right:$--app-checkbox-size * 0.3;
    overflow:hidden;
    transition:0.3s;
    border:1px solid $--app-checkbox-border;
    box-sizing: border-box;
    overflow:hidden;
    hc-icon{
      display:inline-block;
      font-size:0;
      transform: scale(0);
      transition:0.3s;
    }
  }
  .label{
    display:block;
    font-size:inherit;
    color:inherit;
    flex:1;
  }
}
:host([conner]) {
  .frame{
    border-radius:$--app-checkbox-conner;
  }
}
:host([rounder]) {
  .frame{
    border-radius:$--app-checkbox-size;
  }
}
:host([checked]){
  .frame{
    background: $--app-checkbox-active;
    border-color:$--app-checkbox-active;
    hc-icon{
      transform: scale(1);
    }
  }
}
:host([checked][type="danger"]){
  .frame{
    background: $--app-checkbox-danger;
    border-color:$--app-checkbox-danger;
  }
}
:host([checked][type="warning"]){
  .frame{
    background: $--app-checkbox-warning;
    border-color:$--app-checkbox-warning;
  }
}
:host([checked][type="success"]){
  .frame{
    background: $--app-checkbox-success;
    border-color:$--app-checkbox-success;
  }
}
:host([reverse]){
  flex-direction: row-reverse;
  display:flex;
}
:host([vertical]){
  padding:$--app-checkbox-size * 0.7 0;
}
:host([subline]){
  &:after{
    content:"";
    display:inline-block;
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    background:$--app-checkbox-line;
    transform: scaleY(0.5);
  }
}