/* header */
$--app-header-height: 2.4rem;
$--app-header-size: 0.9rem;
$--app-header-background: var(--background-color-dark);
$--app-header-color: var(--color-text-primary);
/* button */
$--app-button-fontsize: 0.75rem;
$--app-button-height: 2.2rem;
$--app-button-default-color: var(--color-text-primary);
$--app-button-default-background: var(--background-color-white);
$--app-button-default-border: var(--border-color-base);
$--app-button-primary: var(--color-primary);
$--app-button-warning: var(--color-warning);
$--app-button-success: var(--color-success);
$--app-button-danger: var(--color-danger);
$--app-button-info: var(--background-color-base);
$--app-button-theme-color: var(--color-text-white);
$--app-button-color-white: var(--color-text-white);
$--app-button-conner: 0.2rem;
// page
$--app-page-background: var(--background-color-dark);
/* panel */
$--app-panel-padding: 1rem;
$--app-panel-margin: 0.5rem;
$--app-panel-background: var(--background-color-white);
$--app-panel-border: var(--border-color-base);
$--app-panel-radius: 0.2rem;
// title
$--app-title-size: 0.9rem;
$--app-title-color: var(--color-text-primary);
$--app-title-sub-size: 0.7rem;
$--app-title-sub-color: var(--color-text-regular);
$--app-title-margin: 0 -1rem 1rem -1rem;
$--app-title-padding: 0 1rem 0.6rem 1rem;
// form
$--app-form-size: 0.75rem;
$--app-form-label-color: var(--color-text-primary);
$--app-form-value-color: var(--color-text-regular);
$--app-form-line: var(--border-color-base);
$--app-form-padding: 0.6rem;
$--app-form-split: 2rem;
// list
$--app-list-heading-size: 0.8rem;
$--app-list-heading-color: var(--color-text-primary);
$--app-list-append-color: var(--color-text-regular);
$--app-list-heading-ellipsis: 2;
$--app-list-line: var(--border-color-base);
$--app-list-padding: 0.8rem;
$--app-list-small-padding: 0.7rem;
$--app-list-mini-padding: 0.5rem;
$--app-list-date-size: 0.6rem;
$--app-list-date-color: var(--color-text-regular);
$--app-list-cover-size: 4rem;
// tag
$--app-tag-default-size: 1.4rem;
$--app-tag-mini-size: 1rem;
$--app-tag-small-size: 1.2rem;
$--app-tag-large-size: 1.6rem;
$--app-tag-default-color: var(--color-text-primary);
$--app-tag-default-border: var(--border-color-base);
$--app-tag-default-conner: 0.2rem;
$--app-tag-type-color: var(--color-text-white);
$--app-tag-primary: var(--color-primary);
$--app-tag-warning: var(--color-warning);
$--app-tag-success: var(--color-success);
$--app-tag-danger: var(--color-danger);
// cell
$--app-cell-size: 0.8rem;
$--app-cell-label-color: var(--color-text-primary);
$--app-cell-value-color: var(--color-text-regular);
$--app-cell-line: var(--border-color-base);
$--app-cell-arrow-color: var(--border-color-base);
// input
$--app-input-default-border: var(--border-color-base);
$--app-input-default-size: 0.75rem;
$--app-input-default-background: var(--background-color-white);
$--app-input-default-color: var(--color-text-primary);
$--app-input-default-placeholder: var(--color-text-regular);
$--app-input-default-caret: var(--color-primary);
$--app-input-conner: 0.2rem;
$--app-input-icon-color: var(--color-text-regular);
$--app-input-icon-size: 1rem;
$--app-input-count-size: 0.6rem;
$--app-input-count-color: var(--color-text-regular);
$--app-input-dark: var(--background-color-base);
$--app-input-focus-color: var(--color-primary);
$--app-input-success: var(--color-success);
$--app-input-warning: var(--color-warning);
$--app-input-error: var(--color-danger);
// checkbox
$--app-checkbox-size: 0.75rem;
$--app-checkbox-border: var(--border-color-base);
$--app-checkbox-line: var(--border-color-light);
$--app-checkbox-conner: 0.2rem;
$--app-checkbox-color: var(--color-text-primary);
$--app-checkbox-background: var(--background-color-white);
$--app-checkbox-active: var(--color-primary);
$--app-checkbox-danger: var(--color-danger);
$--app-checkbox-warning: var(--color-warning);
$--app-checkbox-success: var(--color-success);

// switch
$--app-switch-icon-color: var(--color-text-regular);
$--app-switch-size: 1.2rem;
$--app-switch-label-size: 0.75rem;
$--app-switch-label-color: var(--color-text-primary);
$--app-switch-default-color: var(--background-color-darker);
$--app-switch-default-dot-color: var(--background-color-white);
$--app-switch-active-dot-color: var(--background-color-white);
$--app-switch-active-color: var(--color-primary);
$--app-switch-warning: var(--color-warning);
$--app-switch-success: var(--color-success);
$--app-switch-danger: var(--color-danger);
// toast
$--app-toast-size: 0.7rem;
$--app-toast-background: var(--background-color-black-transparent);
$--app-toast-color: var(--color-text-white);
$--app-toast-conner: 0.2rem;
$--app-toast-light-color: var(--color-text-primary);
$--app-toast-light-background: var(--background-color-white-transparent);

// drawer
$--app-drawer-background: var(--background-color-white);
$--app-drawer-radius: 1rem;

// picker
$--app-picker-item-height: 2.2rem;
$--app-picker-fontsize: 0.7rem;
$--app-picker-view: 5;
$--app-picker-indicate-background: var(--background-color-base);
$--app-picker-indicate-border: var(--border-color-base);
$--app-picker-active: var(--color-primary);
$--app-picker-padding: 1rem;
$--app-picker-title-fontsize: 0.9rem;
$--app-picker-title-color: var(--color-text-primary);
$--app-picker-type-color: var(--color-text-secondary);

// alert
$--app-alert-background: var(--background-color-white);
$--app-alert-fontsize: 0.7rem;
$--app-alert-color: var(--color-text-primary);
$--app-alert-padding: 1rem;
$--app-alert-radius: 0.5rem;
$--app-alert-title-fontsize: 0.9rem;
$--app-alert-title-color: var(--color-text-primary);
$--app-alert-footer-border: var(--border-color-base);
$--app-alert-close-color: var(--color-text-placeholder);
// skeleton
$--app-skeleton-color: var(--background-color-base);
$--app-skeleton-title: 1.2rem;
$--app-skeleton-row: 1rem;
$--app-skeleton-avatar: 2rem;
$--app-skeleton-cover: 4rem;
// tab
$--app-tab-fontsize: 0.8rem;
$--app-tab-color: var(--color-text-primary);
$--app-tab-active-color: var(--color-primary);
$--app-tab-padding: 2rem;
$--app-tab-height: 3rem;
$--app-tab-border: var(--border-color-base);
// actionsheet
$--app-actionsheet-height: 2.6rem;
$--app-actionsheet-fontsize: 0.7rem;
$--app-actionsheet-color: var(--color-text-primary);
$--app-actionsheet-active-color: var(--color-primary);
$--app-actionsheet-padding: 1rem;
$--app-actionsheet-title-fontsize: 0.8rem;
$--app-actionsheet-title-color: var(--color-text-primary);
$--app-actionsheet-maxheight: 20rem;
// swipemenu
$--app-swipemenu-background: var(--background-color-white);
$--app-swipemenu-fontsize: 0.7rem;
$--app-swipemenu-default-fill: var(--color-text-primary);
$--app-swipemenu-default-color: var(--color-text-white);
// popover
$--app-popover-background: var(--background-color-white);
$--app-popover-fontsize: 0.7rem;
$--app-popover-color: var(--color-text-primary);
$--app-popover-height: 2.4rem;
$--app-popover-padding: 1rem;
$--app-popover-radius: 0.2rem;
$--app-popover-line: var(--border-color-base);
$--app-popover-border: var(--border-color-base);
// image
$--app-image-fontsize: 0.6rem;
$--app-image-fill: var(--background-color-base);
$--app-image-color: var(--color-text-placeholder);
// notify
$--app-notify-height: 2.4rem;
$--app-notify-fontsize: 0.7rem;
$--app-notify-color: var(--color-text-white);
$--app-notify-background: var(--color-primary);
// slider
$--app-slider-height: 0.5rem;
$--app-slider-default-background: var(--background-color-dark);
$--app-slider-active-background: var(--color-primary);
// rate
$--app-rate-color: var(--color-text-primary);
$--app-rate-active-color: var(--color-primary);
// collapse
$--app-collapse-title-fontsize: 0.75rem;
$--app-collapse-title-color: var(--color-text-primary);
$--app-collapse-indicate-color: var(--color-text-placeholder);
$--app-collapse-padding: 0.3rem 0;
$--app-collapse-border: var(--border-color-base);
// search
$--app-search-fontsize: 0.75rem;
$--app-search-color: var(--color-text-regular);
// noticebar
$--app-noticebar-fontsize: 0.7rem;
$--app-noticebar-color: var(--color-warning);
// indexbar
$--app-indexbar-fontsize: 0.6rem;
$--app-indexbar-color: var(--color-text-primary);
$--app-indexbar-background: var(--background-color-white);
$--app-indexbar-handle-background: var(--background-color-base);
$--app-indexbar-active-color: var(--color-primary);
$--app-indexbar-indicate-fontsize: 0.6rem;
$--app-indexbar-indicate-color: var(--color-text-placeholder);
$--app-indexbar-indicate-background: var(--background-color-base);
$--app-indexbar-item-fontsize: 0.75rem;
$--app-indexbar-item-color: var(--color-text-primary);
$--app-indexbar-line: var(--border-color-base);
// text
$--app-text-fontsize: 0.75rem;
$--app-text-color: var(--color-text-primary);
$--app-text-more-color: var(--color-primary);
// badge
$--app-badge-color: var(--color-text-white);
$--app-badge-background: var(--color-danger);
$--app-badge-fontsize: 0.6rem;
// video
$--app-video-fontsize: 0.6rem;
$--app-video-color: var(--color-text-white);
// keyboard
$--app-keyboard-background: var(--background-color-base);
$--app-keyboard-key-color: var(--background-color-white);
$--app-keyboard-fontsize:0.8rem;
$--app-keyboard-color: var(--color-text-primary);
$--app-keyboard-active: var(--background-color-basegray);
$--app-keyboard-height: 11rem;

// selection
$--app-selection-fontsize: 0.8rem;
$--app-selection-color: var(--color-text-regular);
$--app-selection-line: var(--border-color-extra-light);
$--app-selection-activecolor: var(--color-primary);

// calendar
$--app-calendar-fontsize: 0.8rem;
$--app-calendar-color: var(--color-text-primary);
$--app-calendar-color1: var(--color-text-placeholder);
$--app-calendar-basecolor: var(--color-primary);
$--app-calendar-placeholder: var(--color-text-placeholder);
$--app-calendar-select: var(--color-primary-light);