:host {
  display:block;
  font-size:$--app-picker-fontsize;
  .title{
    font-size: $--app-picker-title-fontsize;
    color: $--app-picker-title-color;
    text-align:center;
    font-weight: normal;
    margin: $--app-picker-padding 0;
  }
  .footer{
    height: $--app-picker-item-height;
    padding: $--app-picker-padding;
    hc-col{
      &:first-child{
        padding-right: $--app-picker-padding / 2;
      }
      &:last-child{
        padding-left: $--app-picker-padding / 2;
      }
    }
  }
}
