:host {
  display:block;
  padding:0.3rem 0;
  .slider{
    display: flex;
    position: relative;
    height: $--app-slider-height;
    background: $--app-slider-default-background;
    border-radius: $--app-slider-height;
    border-left:none;
    border-right:none;
    .bar{
      position: absolute;
      left:0;
      top:0;
      height: 100%;
      background: $--app-slider-active-background;
      border-radius: $--app-slider-height 0 0 $--app-slider-height;
    }
    .handle{
      display:flex;
      width: $--app-slider-height * 1.4;
      height: $--app-slider-height * 1.4;
      background:var(--background-color-white);
      border:0.1rem solid $--app-slider-active-background;
      border-radius:50%;
      position: absolute;
      top:50%;
      left:0;
      margin-top: -$--app-slider-height * 0.7;
      // margin-left: -$--app-slider-height * 0.5;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      box-sizing: border-box;
    }
    .step{
      display:flex;
      flex-direction: row;
      flex:1;
      font-size:0;
      align-items: center;
      span{
        flex:1;
        // border-right:2px solid $--app-slider-active-background;
        display:inline-block;
        height: $--app-slider-height / 2;
        box-sizing: border-box;
        &:last-child{
          border-right:none;
        }
      }
    }
  }
}
:host([disabled]){
  opacity:0.7;
}
:host([size="mini"]) {
  .slider{
    height: $--app-slider-height * 0.7;
    .handle{
      width:$--app-slider-height * 0.7;
      height:$--app-slider-height * 0.7;
      margin-top:-$--app-slider-height * 0.35;
      background-color: $--app-slider-default-background;
      border-color: $--app-slider-default-background;
      border-radius:0;
      border-right-width:1rem;
    }
  }
}
:host([size="small"]) {
  .slider{
    height: $--app-slider-height * 0.8;
    .handle{
      width:$--app-slider-height * 0.8 * 1.5;
      height:$--app-slider-height * 0.8 * 1.5;
      margin-top:-$--app-slider-height * 0.8 * 0.75;
    }
  }
}
:host([size="large"]) {
  .slider{
    height: $--app-slider-height * 1.1;
    .handle{
      width:$--app-slider-height * 1.1 * 1.5;
      height:$--app-slider-height * 1.1 * 1.5;
      margin-top:-$--app-slider-height * 1.1 * 0.75;
    }
  }
}