:host {
  display: inline-flex;
  flex-direction: row;
  font-size:$--app-checkbox-size;
  color: $--app-checkbox-color;
  align-items:center;
  margin-right:$--app-checkbox-size;
  .frame{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: $--app-checkbox-size * 1.2;
    height: $--app-checkbox-size * 1.2;
    color:$--app-checkbox-background;
    background: $--app-checkbox-background;
    margin-right:$--app-checkbox-size/ 3;
    overflow:hidden;
    transition:0.3s ease-out;
    border:1px solid $--app-checkbox-border;
    box-sizing: border-box;
    border-radius: $--app-checkbox-size;
  }
  .label{
    display:block;
    font-size:inherit;
    color:inherit;
    flex:1;
  }
}
:host([checked]){
  .frame{
    border-color:$--app-checkbox-active;
    border-width: 0.2rem;
  }
}
:host([checked][type="danger"]){
  .frame{
    border-color:$--app-checkbox-danger;
  }
}
:host([checked][type="warning"]){
  .frame{
    border-color:$--app-checkbox-warning;
  }
}
:host([checked][type="success"]){
  .frame{
    border-color:$--app-checkbox-success;
  }
}
:host([reverse]){
  flex-direction: row-reverse;
  display:flex;
}
:host([vertical]){
  margin:0;
  padding:$--app-checkbox-size * 0.8 0;
}
:host([subline]){
  @include border_1px('bottom', $--app-checkbox-line, 0);
}