:host {
  display: flex;
  flex-direction: row;
  align-items:center;
  position: fixed;
  width:100%;
  height: $--app-notify-height;
  font-size: $--app-notify-fontsize;
  background-color: $--app-notify-background;
  color: $--app-notify-color;
  padding: 0 1rem;
  box-sizing: border-box;
  transition:0.3s;
  overflow:hidden;
  z-index: 100;
  .content{
    margin: 0 0.3rem;
    flex:1;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
:host([place="up"]){
  top:0;
  left:0;
  transform: translate3d(0, -100%, 0);
}
:host([place="down"]){
  bottom:0;
  left:0;
  transform: translate3d(0, 100%, 0);
}
:host([align="center"]){
  justify-content: center;
}
:host([visible]){
  transform: translate3d(0, 0, 0);
}