:host {
  display: flex;
  font-size:$--app-form-size;
  color: $--app-form-value-color;
  @include border_1px('bottom', $--app-form-line, 0);
  line-height:1.4;
  padding: $--app-form-padding 0;
  .label{
    font-size:inherit;
    font-weight: normal;
    line-height:1.6;
    margin:0;
    color:$--app-form-label-color;
  }
  .value{
    flex:1;
    margin:0;
    margin-left: $--app-form-split;
    overflow:hidden;
  }
}
