:host {
  display: flex;
  color: $--app-input-icon-color;
  font-size: $--app-input-default-size;
  padding: $--app-input-default-size / 3 * 2;
  align-items:center;
  position: relative;
  &:after{
    content:"";
    display:block;
    top:0;
    left:0;
    width:200%;
    height:200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    border:1px solid $--app-input-default-border;
    position: absolute;
    transition: 0.3s;
    z-index:2
  }
  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: $--app-input-default-background;
    z-index:1;
  }
  input,
  textarea{
    flex:1;
    background:none;
    border:none;
    outline:none;
    position: relative;
    z-index:10;
    color: $--app-input-default-color;
    caret-color: $--app-input-default-caret;
    line-height:1.6;
    font-size: inherit;
    resize:none;
    padding:0;
    position: relative;
    z-index:10;
    &::-webkit-search-cancel-button{
      -webkit-appearance: none;
    }
    &::-webkit-input-placeholder{
      color:$--app-input-default-placeholder;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
  }
  hc-icon{
    font-size: $--app-input-icon-size;
    position: relative;
    z-index:10;
    color: $--app-input-icon-color;
  }
  .count{
    font-size:$--app-input-count-size;
    color: $--app-input-count-color;
  }
  .clear{
    margin-left:$--app-input-default-size / 2;
  }
  .suffixIcon{
    margin-left:$--app-input-default-size / 2;
  }
  .prefixIcon{
    margin-right:$--app-input-default-size / 2;
  }
}
:host([conner]){
  &:after{
    border-radius:$--app-input-conner * 2;
  }
}
:host([rounder]){
  &:after{
    border-radius:$--app-input-default-size * 3;
  }
}
:host([light]) {
  padding:0;
  &:after{
    display:none;
  }
}
:host([size]){
  display:inline-flex;
}
:host([size="small"]){
  padding: $--app-input-default-size * 0.3 $--app-input-default-size / 2;
}
:host([size="mini"]){
  padding: $--app-input-default-size *0.2 $--app-input-default-size / 2;
}
:host([size="default"]){
  padding: $--app-input-default-size *0.4 $--app-input-default-size / 2;
}
:host([size="large"]){
  padding: $--app-input-default-size *0.5 $--app-input-default-size / 2;
}
:host([light]){
  border:none;
  background:none;
}
:host([dark]){
  &:before{
    background:$--app-input-dark;
  }
  &:after{
    // border-color:$--app-input-dark;
    display:none;
  }
}
:host([type="textarea"][light]){
  padding:0;
}
:host([type="textarea"]){
  align-items:flex-start;
  padding:0.5rem 0.8rem 0.8rem 0.8rem;
  .clear{
    position: absolute;
    right:$--app-input-icon-size;
    bottom:$--app-input-icon-size / 2;
  }
  .count{
    position: absolute;
    bottom:$--app-input-icon-size / 2;
    left: $--app-input-icon-size;
  }
}
:host([focusin]){
  &:after{
    border-color: $--app-input-focus-color;
    opacity:0.6;
  }
}
:host([verify="error"]){
  &:before{
    background-color: $--app-input-error;
    opacity:0.05;
  }
  &:after{
    border-color: $--app-input-error;
    opacity:0.3;
  }
  input,textarea{
    color: $--app-input-error;
  }
}
:host([verify="warning"]){
  &:before{
    background-color: $--app-input-warning;
    opacity:0.05;
  }
  &:after{
    border-color: $--app-input-warning;
    opacity:0.3;
  }
  input,textarea{
    color: $--app-input-warning;
  }
}
:host([verify="success"]){
  &:before{
    background-color: $--app-input-success;
    opacity:0.05;
  }
  &:after{
    border-color: $--app-input-success;
    opacity:0.3;
  }
  input,textarea{
    color: $--app-input-success;
  }
}