:host {
  display: flex;
  background-color:$--app-input-default-background;
  // border:1px solid $--app-input-default-border;
  color: $--app-input-icon-color;
  font-size: $--app-input-default-size;
  padding: $--app-input-default-size / 3 * 2;
  align-items:center;
  @include border_1px('default', $--app-input-default-border, 0);
  input,
  textarea{
    flex:1;
    background:none;
    border:none;
    outline:none;
    position: relative;
    z-index:10;
    color: $--app-input-default-color;
    caret-color: $--app-input-default-caret;
    line-height:1.6;
    font-size: inherit;
    resize:none;
    &::-webkit-search-cancel-button{
      -webkit-appearance: none;
    }
    &::-webkit-input-placeholder{
      color:$--app-input-default-placeholder;
    }
  }
  hc-icon{
    font-size: $--app-input-icon-size;
    position: relative;
    z-index:10;
  }
  .count{
    font-size:$--app-input-count-size;
    color: $--app-input-count-color;
  }
  .clear{
    margin-left:$--app-input-default-size / 2;
  }
  .suffixIcon{
    margin-left:$--app-input-default-size / 2;
  }
  .prefixIcon{
    margin-right:$--app-input-default-size / 2;
  }
}
:host([conner]){
  &:after{
    border-radius:$--app-input-conner * 2;
  }
}
:host([rounder]){
  &:after{
    border-radius:$--app-input-default-size * 3;
  }
}
:host([light]) {
  padding:0;
  &:after{
    display:none;
  }
}
:host([size="small"]){
  padding: $--app-input-default-size / 2 $--app-input-default-size;
}
:host([size="mini"]){
  padding: 0 $--app-input-default-size / 2;
}
:host([light]){
  border:none;
  background:none;
}
:host([dark]){
  background:$--app-input-dark;
  &:after{
    border-color:$--app-input-dark;
  }
}
:host([type="textarea"]){
  align-items:flex-start;
  padding:0.5rem 0.8rem 0.8rem 0.8rem;
  .clear{
    position: absolute;
    right:$--app-input-icon-size / 2;
    bottom:$--app-input-icon-size / 2;
  }
  .count{
    position: absolute;
    bottom:$--app-input-icon-size / 2;
    left: $--app-input-icon-size / 2;
  }
}
:host([focusin]){
  &:after{
    border-color: $--app-input-focus-color;
  }
}
:host([verify="error"]){
  &:after{
    border-color: $--app-input-error;
  }
}
:host([verify="success"]){
  &:after{
    border-color: $--app-input-success;
  }
}
:host([verify="warning"]){
  &:after{
    border-color: $--app-input-warning;
  }
}