:host {
  display: block;
  overflow:hidden;
  height: $--app-calendar-fontsize * 15;
  .wrap{
    display: flex;
    flex-direction: row;
    height:100%;
  }
}
:host([vertical]){
  overflow:auto;
  // height: $--app-calendar-fontsize * 12;
  .wrap{
    flex-direction: column;
    height:auto;
  }
}
:host([is-week]){
  height:auto;
}