:host {
  display: block;
  height:$--app-selection-fontsize * 20;
  position: relative;
  overflow:hidden;
  .mask{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-white);
    opacity:0;
    z-index:-1;
    transition: 0.3s;
  }
  .wrap{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    height:100%;
    transition:0.3s;
  }
}
:host([loading]){
  overflow:hidden;
  .mask{
    z-index:10;
    opacity:1;
  }
}
