:host {
  display: block;
  font-size: $--app-indexbar-indicate-fontsize;
  color: $--app-indexbar-indicate-color;
  background:$--app-indexbar-indicate-background;
  padding: $--app-indexbar-indicate-fontsize;
}
