:host {
  display: flex;
  flex-direction: column;
  // height: $--app-calendar-fontsize * 15;
  position: relative;
  height:100%;
  &:after{
    content:attr(month);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: $--app-calendar-fontsize * 7;
    color: $--app-calendar-placeholder;
    z-index:1;
  }
  .title{
    font-size:$--app-calendar-fontsize * 1.1;
    color: $--app-calendar-color;
    font-weight: normal;
    margin:0.5rem 0;
    text-align:center;
    &.hide{
      font-size:0;
    }
  }
}
:host([range]){
  height:auto;
}